body {
	height: 100vh;
	width: 100vw;
	font-size: 2em;
	overflow: hidden scroll;
}

p,
body,
h2 {
	margin: 0;
}

h2 {
	margin-bottom: 10px;
}

section.primary {
	border: 2px solid red;
	margin-bottom: 20px;
}

section.secondary {
	padding-bottom: 10px;
	border-bottom: 1px solid red;
}

section.secondary:last-of-type {
	border-bottom: none;
}

section > p {
	font-weight: 600;
}
